body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('img/product/face.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
